@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .demo-center {
    width: 100%;
    max-width: 800px;
    display: block;
  }

  .demo-center > .block:first-child {
     margin-bottom: $v-unit-size;
  }

  .block {
    display: block;
  }

  .v-caption-cc-unknown {
    opacity: 0.5;
  }
}
